button {
    background-color: #ad0fb0; 
    border-radius: 2 px;
    color: white;
    padding: 10 px 20 px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10 px;
  }

  button {
    transition-duration: 0.4 s;
  }
  
  button hover {
    background-color: #ad0fb0;
    color: pink;
  }
