button {
    background-color: #ad0fb0; 
    width: 100px;
    height: 50px;
    border-radius: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: "Papyrus", "Copperplate", fantasy;
  }

  button {
    transition-duration: 0.4s;
  }
  
  button hover {
    background-color: #ad0fb0;
    color: pink;
  }
